<!--== Header Area Start ==-->
<header id="header-area">
    <div class="ruby-container">
        <div class="row">
            <!-- Logo Area Start -->
            <div class="col-3 col-lg-1 col-xl-2 m-auto">
                <a href="/" class="logo-area">
                    <img src="../../static/shop/claycornerlogo" alt="Logo" class="img-fluid" width="80" height="80"/>
                </a>
            </div>
            <!-- Logo Area End -->

            <!-- Navigation Area Start -->
            <div class="col-3 col-lg-9 col-xl-8 m-auto">
                <div class="main-menu-wrap">
                    <nav id="mainmenu">
                        <ul>
                            <li><a href="/">Home</a>
                            </li>
                            <li class="dropdown-show"><a href="/shop">Products</a>
                                <ul class="mega-menu-wrap dropdown-nav">
                                    <ul>
                                        <li><a href="/shop">All Products</a></li>
                                        <li><a href="">Headwear</a></li>
                                        <li><a href="">Neckwear</a></li>
                                        <li><a href="">Handwear</a></li>
                                    </ul>
                                </ul>
                            </li>
                            <li><a href="/Announcements">Announcements</a>
                            </li>
                            <li><a href="/aboutus">About Us</a>
                            </li>
                            <li><a href="/contactus">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Navigation Area End -->

            <!-- Header Right Meta Start -->
            <div class="col-6 col-lg-2 m-auto">
                <div class="header-right-meta text-right">
                    <ul>
                        <li><a href="#" class="modal-active"><i class="fa fa-search"></i></a></li>
                        <li class="settings"><a href="#"><i class="fa fa-cog"></i></a>
                            <div class="site-settings d-block d-sm-flex">

                                <dl class="my-account">
                                    {% if session["user"]["accounttype"] == "customer" %}
                                    <dt>My Account</dt>
                                    <dd><a href="#">Profile</a></dd>
                                    {% endif %}
                                    <dd><a href="http://127.0.0.1:5000/account/admin/register">Staff</a></dd>
                                    {% if session["user"]["accounttype"] == "customer" %}
                                        <dd><a href="http://127.0.0.1:5000/account/logout">Logout</a></dd>
                                    {% else %}
                                        <dd><a href="http://127.0.0.1:5000/account/register">Register</a></dd>
                                        <dd><a href="http://127.0.0.1:5000/account/login">Login</a></dd>
                                    {% endif %}
                                </dl>
                            </div>
                        </li>
                        <li class="shop-cart"><a href="#"><i class="fa fa-shopping-bag"></i> <span
                                class="count"></span></a>
                            <div class="mini-cart">
                                {% if session["user"]["accounttype"] == "customer" %}
                                <div class="mini-cart-body">
                                    <div class="single-cart-item d-flex">
                                        <!-- Display product here-->
                                    </div>
                                </div>
                                {% endif %}
                                <div class="mini-cart-footer">
                                    <a href="checkout.html" class="btn-add-to-cart">Checkout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Header Right Meta End -->
        </div>
    </div>
</header>
<!--== Header Area End ==-->