{% extends "adminBase.html" %}
{% block content %}
<div>{%include 'admin_nav.html'%}</div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      <button
        type="button"
        class="m1-2 mb-1 close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="text-center" style="background-color: white">
      <div class="container">
        <form method="POST">
          {{ form.hidden_tag() }} {{ form.csrf_token }}

          <h1 class="h3 mt-5 mb-3 font-weight-600">
            New Administrator Registeration
          </h1>
          <br />
          <div class="fields">
            <div>
              {{ form.first_name.label(class="label") }} {{
              form.first_name(class="small-input") }}
            </div>
            <div>
              {{ form.last_name.label(class="label") }} {{
              form.last_name(class="small-input") }}
            </div>
          </div>
          <div class="fields">
            <div>
              {{ form.phone_no.label(class="label") }} {{
              form.phone_no(class="small-input") }}
            </div>
            <div>
              {{ form.gender.label(class="label") }} {{
              form.gender(class="small-input", style="border: 2px solid grey;
              border-radius: 2px; background-color: grey;") }}
            </div>
          </div>
          <div class="fields">
            <div>
              {{ form.email_address.label(class="label") }} {{
              form.email_address(class="small-input") }}
            </div>
            <div>
              {{ form.password.label(class="label") }} {{
              form.password(class="small-input") }}
            </div>
          </div>
          {{ form.postal_code.label(class="label") }} {{
          form.postal_code(class="long-input") }}

          <br />

          <p>
            Already Have an Account ?<br /><a href="{{url_for('admin.admin_login')}}"
              >Sign In</a
            >
          </p>
          <br />

          {{ form.submit(class="button") }}
        </form>
      </div>
    </div>
{% endblock %}
