{% extends "adminBase.html" %} {% block css %} .styled-table { border-collapse:
collapse; margin: 25px 0; font-size: 0.9em; font-family: sans-serif; min-width:
400px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); } .styled-table thead tr {
background-color: #009879; color: #ffffff; text-align: left; } .styled-table th,
.styled-table td { padding: 12px 15px; } .styled-table tbody tr { border-bottom:
1px solid #dddddd; } .styled-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3; } .styled-table tbody tr:last-of-type {
border-bottom: 2px solid #009879; } .styled-table tbody tr.active-row {
font-weight: bold; color: #009879; } {% endblock %} {% block content %}
<table class="styled-table">
    <thead>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for key, value in row.items() %}
            <td>{{ value }}</td>
            {% endfor %}
            <td>
                <form
                    method="POST"
                    action="http://127.0.0.1:5000/inventory/{{loop.index - 1 }}"
                >
                    <button value="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </td>
            <td>
                <a
                    href="http://127.0.0.1:5000/inventory/edit/{{loop.index - 1 }}"
                    class="btn btn-success"
                >
                    Edit</a
                >
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="http://127.0.0.1:5000/inventory/add"
    ><button class="btn btn-success btn-lg">Add Product</button></a
>
<br />
{% endblock %}
