<!--made by yixuan-->
{% extends "adminBase.html" %}
{% block title %}Library Loan System - Retrieve Announcements{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Announcements</h1>
<div>
  {% if count == 0 %}
  <p>There are no Announcements</p>
  {% elif count == 1 %}
  <p>There is 1 Announcement</p>
  {% else %}
  <p>There are {{ count }} announcements</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Announcement ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for announcement in announcements_list %}
      <tr>
        <td><img src="../static/shop/{{ value }}" style="width: 100px; height: 100px;"></td>
        <td>{{ announcement.get_announcement_id() }}</td>
        <td>{{ announcement.get_title() }}</td>
        <td>{{ announcement.get_content() }}</td>
        <td><a href="/announcements/edit/{{announcement.get_announcement_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('announcements.delete_announcement', id=announcement.get_announcement_id())}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{announcement.get_title()}}?');">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

